<div class= "form">
  <%= form_for(@task) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <div class="field">
    <%= f.label :desciption %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_field :time %>
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
  </div><br>
  <%= f.submit "Submit" %>
  <% end %>
</div>
